body {
  margin: auto;
}

.navbar {
  width: 100%;
}

.brand {
  height: 25px;
  width: fit-content;
  font-size: 25px;
  font-family: "Staatliches", serif;
  border: solid green;
  justify-content: sp;
}

.brand a {
  display: flex;
  height: inherit;
  text-decoration: none;
  color: black;
}

.logo {
  height: inherit;
  width: inherit;
}

.brand span {
  display: flex;
  align-items: center;
  vertical-align: top;
}

.modal {
  position: absolute;
}
