body {
  margin: auto;
}

.brand {
  height: 50px;
  width: fit-content;
  font-size: 50px;
  font-family: "Staatliches", serif;
  border: solid green;
}

.brand a {
  display: flex;
  height: inherit;
  font-size: 50px;
  text-decoration: none;
  color: black;
  border: solid red;
}

.logo {
  height: inherit;
  width: inherit;
}

.brand span {
  display: flex;
  align-items: center;
  vertical-align: top;
}

.modal {
  position: absolute;
}
